<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragment/head :: head"></head>


    <body>
        <div class="contenedor">


            <div class="contenedor_formulario">
                <!-- Formulario -->
                <form class="formulario" th:action="@{/herramienta/registrar}" method="POST">

                    <h3 class="titulo-form">AGREGAR HERRAMIENTA</h3>

                    <!-- Nombre -->
                    <div class="form-group m-2 py-1 d-flex flex-column">
                        <input required autofocus type="text" class="form-group formulario_inputs" id="idnombre" name="nombre"  placeholder="Ingresar nombre de herramienta">
                    </div>
                    <div class="d-grid gap-2 text-center">
                        <button type="submit" class="btn btn-md btn-warning">ACEPTAR</button>
                        <a th:href="@{/herramienta/listar}" class="text-dark fw-bold" style="text-decoration:  none" >ATRÁS</a>
                    </div>
                </form>
            </div>
        </div>

    </body>

</html>